
.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana ;
  background-color: #f7f7ff;
}
.logo {
    width: 200px; 
    height: 50px; 
  }
  .container-fluid{
    background-color: #111118;
    margin-top: -10PX;
    height: auto;
  }
  .nav-item a{
    color: aliceblue;
  }
  .navbar-toggler {
    border: none;
    background-color: white;
  }
  .lupa{
    height: 30px;
    width: 30px;
  }
  .d-flex{
    width: 75%;
    margin-left: 10px;
  }
  .nav-item{
    margin-left: 10px;
  }

 .card-margin {
  
position: relative;
  display: inline-block;
  left:20px;
right: 20px;
min-width: 200px;
max-width: 250px;
min-height: 200px;
max-height: 400px;

  }
  .carousel-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
#carouselExampleIndicators{
  top:-10px;
  }

  #subnav{
  margin-top: -10px;
   background-color: #16161f;
  }
  #subnav1{
    background-color: #16161f;
    height: 50px;
  }
  #botonMenu{
    position: relative;
    display: inline-block;
    left: 15px;
    top:0px;
    background-color: transparent;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
  }
  #vender {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    top: 0px;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
  }
.col.card-margin {
  
margin-left: 30px;
min-width: 100px;

}/*BOTÓN DE BUSCAR*/
#buscar {
  border:1;
  border-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  background-color: #000000;
}
#buscar:hover{
  background-color: #111313;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: transparent;
  box-shadow: none;
}
.btn-primary.active,
.btn-primary:active {
  background-color: transparent !important;
  box-shadow: none !important;
}
/*crear cuenta */
.crear{
  position: absolute;
  right: 230px;
  top: 50%;
  display: inline-block;
  margin-right: auto;
  margin-left: 10px;
  top: 20px;
  border: none;
  color: white;
  text-decoration: none;
}
/*ingresar */
.ingresar{
  position: absolute;
  right: 120px;
  top: 50%;
  display: inline-block;
  margin-right: auto;
  margin-left: 10px;
  top: 20px;
  border: none;
  color: white;
  text-decoration: none;
}
/*Bienvenido usuario*/
#contenedor-bienvenida {
  display: none;
  position: absolute;
  right: 220px;
  top: 20px;
  margin-right: auto;
  margin-left: 10px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

#contenedor-bienvenida span {
  font-weight: bold;
  margin-top: 5px; 
}

#contenedor-bienvenida span#nombre-usuario {
  font-size: 14px;
}
.contenedorUsuario {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: space-between;
  right: 100px; 
  z-index: 1000;
  margin: 0;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}
.contenidoUsuario a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}
.contenidoUsuario {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    white-space: nowrap;
  background-color: #16161f;
  font-size: 13px;
  padding: 5px;
  opacity: 98%;
  width: 200px;
}
.contenidoUsuario a:hover {
  background-color: #4ec3e0;
  color: #16161f;
}
.usuario {
  display: none;
  position: absolute;
  margin-right: 20px;
  right: 10px;
  top:0px;
  background-image: url(../img/usuario.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-size: 50px;
}
.contenidoUsuario a {
  display: block;
  padding: 5px;
  color: #e6e6e6;
  text-decoration: none;
}
/*BOTÓN DEL CARRITO*/
.carrito {
  border: none;
  background-image: url(../img/carrito.png);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  z-index: 1000;
  border-radius: 5px;
  position: relative;
  right: 40px;
  top: -3px;
  margin-top: 15px;
  background-color: transparent;
  }
.ingrese {
  background-color: #4ec3e0;
  margin-top: 0px;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ingrese:hover {
  background-color: #58cbe7;
}

.registrar {
  text-align: center;
}

.registrar a {
  color: #4ec3e0;
}

#carouselExampleCards {
  display: flex;
  justify-content: center;
}
/*las mini categorias :) */
.miniCat-container {
  margin: 0 auto; 
  display: flex;
 justify-content: center;
  text-align: left;
  margin-top: 10px; 
}
.miniCat-container2 {
  margin: 0 auto; 
  display: flex;
 justify-content: center;
  text-align: left;
  margin-top: 20px; 
}
.miniCat {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  height: 400px;
  width: 400px;
  box-shadow:2px 4px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 23px;
  position: relative;
  top: 50px;
  left: 10px;
  margin-bottom: 50px;
  text-align: left;
}
.miniCat .item1 img {
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 50px;
  width: 250px;
  height: 250px;
}
.miniCat h4{
  font-size: 20px;
  font-weight: bold;
  margin: none;
}
/*footer*/
.pie {
  position: relative;
  align-items: center;
  left: 0px;
  top:0%;
  bottom:0;
  margin: 0;
  padding: 10px;
  background-color: #111118;
  width: 100%;
  margin-top: 50px;
}
.pie a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 10px; 
}
.pie p {
  color: gray;
  font-size: 10px; 
}
.field p{
  margin-top: 20px;
}