/*LOGIN de UIVERSE*/
.contenedorLogin {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login {
    position: relative;
    width: 400px;
    height: 330px;
    border: none;
    background: white;
    margin: 0 auto;
  }
  
  .textito {
    position: relative;
    width: 400px;
    margin: 0 auto;
    top:80px;
    right:300px;
    text-align: center;
  }
  
  #login {
    padding: 20px;
    top:380px;
    left: 200px;
  }
  
  #login1 {
    padding-bottom: 20px;
    font-size: 21px;
    color: #4ec3e0;
    text-align: center;
    font-weight: bold;
  }
  
  #campos {
    padding-bottom: 10px;
  }
  
  .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #000000;
    border: 1px solid #dadaf7;
  }
  
  .input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: #b2bac8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  