.registro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 150px;
  margin-left: 750px;
  max-width: 350px;
  background-color: white;
  border: #F4F6FB;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.titulo {
  font-size: 28px;
  color: #4ec3e0;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.iniciar {
  text-align: center;
}
.iniciar a {
  color: #4ec3e0;
}
.iniciar a:hover {
  text-decoration: underline #4ec3e0;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.registro label {
  position: relative;
}
.registro label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.registro label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.registro label .input:focus + span,.registro label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.submit {
  border: none;
  outline: none;
  background-color: #4ec3e0;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: #58cbe7;
}

.textito1{
    position: absolute;
    right: 750px;
    top: 300px;
    width: 400px;
  }