
.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana ;
  background-color: #f7f7ff;
}
.logo {
    width: 200px; 
    height: 50px; 
  }
  .container-fluid{
    background-color: #111118;
    margin-top: -10PX;
    height: auto;
  }
  .nav-item a{
    color: aliceblue;
  }
  .navbar-toggler {
    border: none;
    background-color: white;
  }
  .lupa{
    height: 30px;
    width: 30px;
  }
  .d-flex{
    width: 75%;
    margin-left: 10px;
  }
  .nav-item{
    margin-left: 10px;
  }

 .card-margin {
  
position: relative;
  display: inline-block;
  left:20px;
right: 20px;
min-width: 200px;
max-width: 250px;
min-height: 200px;
max-height: 400px;

  }

#carouselExampleIndicators{
  top:-10px;
  }

  #subnav{
  margin-top: -10px;
   background-color: #16161f;
  }
  #subnav1{
    background-color: #16161f;
    height: 50px;
  }
  #botonMenu{
    position: relative;
    display: inline-block;
    left: 15px;
    top:0px;
    background-color: transparent;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
  }
  #vender {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    top: 0px;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
  }

/*BOTÓN DE BUSCAR*/
#buscar {
  border:none;
  border-radius: 4px 4px 4px 4px;
  background-color: #4ec3e0;
}
#buscar:hover{
  background-color: #58cbe7;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: transparent;
  box-shadow: none;
}
.btn-primary.active,
.btn-primary:active {
  background-color: transparent !important;
  box-shadow: none !important;
}
/*crear cuenta */
#crear{
  position: relative;
  left: -10px;
  display: inline-block;
  margin-right: auto;
  margin-left: 10px;
  top: 3px;
  border: none;
  color: white;
  text-decoration: none;
  background-color: #111118;
}
 .dropdown-menu{ 
  position: relative;
  width: 300px;
  
}
/*ingresar */
#ingresar{
  position: relative;
  left: -10px;
  display: inline-block;
  margin-right: auto;
  margin-left:20px;
  top: 3px;
  border: none;
  color: white;
  text-decoration: none;
  background-color: #111118;
}
.contenedorUsuario {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: space-between;
  right: 100px; 
  z-index: 1000;
  margin: 0;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}
.contenidoUsuario a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}
.contenidoUsuario {
 position: absolute;
  background-color: #16161f;
  z-index: 10001;
 
}
.contenidoUsuario a:hover {
  background-color: #4ec3e0;
  color: #16161f;
}
#contenedor-bienvenida {
  display: none;
  position: relative;
  right: -10px;
  top: 10px;
  margin-right: 5px;
  margin-left: 10px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  width: 90px;
}
#contenedor-bienvenida span {
  font-weight: bold;
  margin-top: 5px; 
}
#contenedor-bienvenida span#nombre-usuario {
  font-size: 14px;
}

.usuario {
  position: relative;
  left:110px;
  margin-left: -85px;
  margin-top: -7px;
  margin-right: 120px;
  background-image: url(../logo/usuario.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-size: 50px;
}
.contenidoUsuario a {
  display: block;
  padding: 5px;
  color: #e6e6e6;
  text-decoration: none;
}
/*BOTÓN DEL CARRITO*/
.carrito {
  border: none;
  background-image: url(../img/carrito.png);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  border-radius: 5px;
  position: relative;
  top: -5px;
  margin-top: 15px;
  background-color: transparent;
  }
.ingrese {
  background-color: #4ec3e0;
  margin-top: 0px;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ingrese:hover {
  background-color: #58cbe7;
}

.registrar {
  text-align: center;
}

.registrar a {
  color: #4ec3e0;
}

#carouselExampleCards {
  margin-top: 30px;
  display: flex;
  width: auto;
}

.carousel-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.col.card-margin {
  margin-left: 30px;
  min-width: 100px;
  }

.botonFavorito{
  position: absolute;
  right:0px;
  top:0px;
  height: 40px;
  width: 40px;
  background-color: rgb(236, 236, 236) ;
  border-radius: 50%;
}
.botonFavorito:hover{
background-color: #58cbe7;
}

.btn-primary {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  border:none;
  background-color: #4ec3e0;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #4ec3e0;
}
.btn-primary:hover{
  background-color: #58cbe7;
}

.btn-favorite{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.btn-favorite img{
  position: relative;
  width: 20px;
  height: 20px;
  left: -3px;
}
/*las mini categorias :) */
.miniCat-container {
  position: relative;
  margin-top: 50px;
    justify-content: center;
  margin-bottom: 20px;
}
 
.alert{
  top:0px;
  position: absolute;
width: 100%;
z-index: 10001;
text-align: center;
}
#exampleModal{
margin-top:100px;
}